/* _grid default */
@include default {
  .grid__container {
    text-align: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .grid__section--outer {
    width: 100%;
    margin-bottom: $base-margin * 3;
  }

  .grid__section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $base-margin $base-margin * 2;
    border-bottom: 10px solid rgba($color--black, 0.5);

    &--no-pad {
      padding: 0;
    }
  }

  .grid__header-container {
    @include base-font(20px);
    background-color: $color--red;
    color: $color--white;
    padding: $base-margin;
  }

  .grid__content-container {
    background-color: $color--white;
    color: $color--black;
  }

  .grid__list {
    li {
      line-height: 1.7;
      color: $color--grey;
      margin-bottom: $base-margin;
    }

    em {
      color: $color--black;
      font-style: normal;
      font-weight: 700;
      margin-right: 2px;
    }

    p {
      margin-top: 5px;
    }
  }

  .grid__section--video {
    width: 100%;
    height: 100%;
    min-height: 200px;
  }
}

/* _grid small-only */
@include small-only {
}

/* _grid medium-only */
@include medium-only {
}

/* _grid medium-and-above */
@include large-and-above {
  .grid__section--outer-container {
    display: flex;
  }

  .grid__section--outer {
    width: 50%;
    padding: 20px;
  }

  .grid__section {
    padding: $base-margin * 3 $base-margin * 2;

    &--no-pad {
      padding: 0;
    }

    &--left {
      justify-content: left;
    }
  }

  .grid__header-container {
    padding: $base-margin * 2;
  }

  .grid__section--video {
    width: 800px;
    height: 100%;
    min-height: 400px;
  }

  .grid__list {
    li {
      text-align: left;
      margin-bottom: $base-margin * 2;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
