/*
 * style.scss
 *
 * This file contain media-query independent imports, other imports that ARE
 * dependent on media-queries are imported within media-query-dependants.scss
 */
/*
 * _variables.scss
 *
 * This file contains SCSS variables that are used globally in the project.
 * Keep variables namespaced with the concern of the variable i.e.
 * $color--<color> or $font--<size-default>.
 * Variables that are local to a file can be placed in the file itself.
 */
/*
 * Breakpoints
 */
/*
 * Typography
 */
/*
 * Colors
 */
/*
 * Easings
 */
/*
 * _mixins.scss
 */
/*
 * General mixins
 */
/*
 * Let's not care about IE6/7,
 * http://www.cssmojo.com/latest_new_clearfix_so_far
 */
/*
 * Typography mixins
 */
/*
 * Accessibility mixins
 */
/*
 * http://a11yproject.com/posts/how-to-hide-content
 * https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
 */
/*
 * Media-query mixins
 */
/*
 * _utils.scss
 */
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden; }

/* stylelint-disable */
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*
 * _base.scss
 *
 * This is a good place to put 'opinionated' resets.
 */
html {
  box-sizing: border-box; }

body {
  line-height: 1;
  color: #fff;
  text-align: center;
  background-color: #000; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img {
  max-width: 100%; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

p {
  line-height: 1.2; }

/*
 * media-query-dependants.scss
 *
 * This is the place where you would include any SCSS that is dependent on the
 * media-query mixins (such as small-only or large-and-above).
 */
/*
 * Base
 */
/*
 * _typography.scss
 */
/* _typography config */
/* _typography default */
body {
  font-size: 16px;
  font-family: "Fira Mono", sans-serif; }

/* _typography small-only */
/* _typography medium-only */
/* _typography medium-and-above */
/* _typography large-and-above */
/*
 * Modules
 */
/* _grid default */
.grid__container {
  text-align: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }

.grid__section--outer {
  width: 100%;
  margin-bottom: 48px; }

.grid__section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 16px 32px;
  border-bottom: 10px solid rgba(0, 0, 0, 0.5); }
  .grid__section--no-pad {
    padding: 0; }

.grid__header-container {
  font-size: 20px;
  font-size: 1.25rem;
  font-family: "Fira Mono", sans-serif;
  background-color: #ff262a;
  color: #fff;
  padding: 16px; }

.grid__content-container {
  background-color: #fff;
  color: #000; }

.grid__list li {
  line-height: 1.7;
  color: #bbbbbb;
  margin-bottom: 10px; }

.grid__list em {
  color: #000;
  font-style: normal;
  font-weight: 700;
  margin-right: 2px; }

.grid__list p {
  margin-top: 5px; }

.grid__section--video {
  width: 100%;
  height: 100%;
  min-height: 200px; }

/* _grid small-only */
/* _grid medium-only */
/* _grid medium-and-above */
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-15px); }
  to {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes appear-shadow-red {
  from {
    text-shadow: 0px 0px #ff262a; }
  to {
    text-shadow: 4px 4px #ff262a; } }

@keyframes appear-shadow-white {
  from {
    text-shadow: 0px 0px #fff; }
  to {
    text-shadow: 4px 4px #fff; } }

@keyframes appear-shadow-grey {
  from {
    text-shadow: 0px 0px #d4d4d4; }
  to {
    text-shadow: 4px 4px #d4d4d4; } }

@keyframes settle {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(20px); } }

/* _logo default */
.logo {
  font-size: 80px;
  font-size: 5rem;
  font-family: "Fira Mono", sans-serif;
  font-weight: 700;
  animation: settle 0.2s 2.5s forwards; }

.logo__re {
  display: inline-block;
  position: relative;
  opacity: 0;
  color: #ff262a;
  animation: appear 0.2s 1s forwards, appear-shadow-grey 0.2s 2s forwards;
  margin-right: 4px; }

.logo__unite {
  display: inline-block;
  position: relative;
  opacity: 0;
  color: #fff;
  animation: appear 0.2s 1.5s forwards, appear-shadow-grey 0.2s 2s forwards; }

.logo__tagline {
  opacity: 0;
  max-width: 300px;
  margin: 0 auto 64px auto;
  animation: appear 0.2s 2.5s forwards; }

.logo__twitch {
  margin-left: 10px;
  width: 30px;
  top: 5px;
  position: relative; }

/* _logo small-only */
/* _logo medium-only */
/* _logo medium-and-above */
/* _logo large-and-above */
@media (max-width: 549px) {
  /*
 * media-query-dependants.scss
 *
 * This is the place where you would include any SCSS that is dependent on the
 * media-query mixins (such as small-only or large-and-above).
 */
  /*
 * Base
 */
  /*
 * _typography.scss
 */
  /* _typography config */
  /* _typography default */
  /* _typography small-only */
  /* _typography medium-only */
  /* _typography medium-and-above */
  /* _typography large-and-above */
  /*
 * Modules
 */
  /* _grid default */
  /* _grid small-only */
  /* _grid medium-only */
  /* _grid medium-and-above */
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(-15px); }
    to {
      opacity: 1;
      transform: translateY(0px); } }
  @keyframes appear-shadow-red {
    from {
      text-shadow: 0px 0px #ff262a; }
    to {
      text-shadow: 4px 4px #ff262a; } }
  @keyframes appear-shadow-white {
    from {
      text-shadow: 0px 0px #fff; }
    to {
      text-shadow: 4px 4px #fff; } }
  @keyframes appear-shadow-grey {
    from {
      text-shadow: 0px 0px #d4d4d4; }
    to {
      text-shadow: 4px 4px #d4d4d4; } }
  @keyframes settle {
    from {
      transform: translateY(0); }
    to {
      transform: translateY(20px); } }
  /* _logo default */
  /* _logo small-only */
  /* _logo medium-only */
  /* _logo medium-and-above */
  /* _logo large-and-above */ }

@media (min-width: 550px) and (max-width: 1000px) {
  /*
 * media-query-dependants.scss
 *
 * This is the place where you would include any SCSS that is dependent on the
 * media-query mixins (such as small-only or large-and-above).
 */
  /*
 * Base
 */
  /*
 * _typography.scss
 */
  /* _typography config */
  /* _typography default */
  /* _typography small-only */
  /* _typography medium-only */
  /* _typography medium-and-above */
  /* _typography large-and-above */
  /*
 * Modules
 */
  /* _grid default */
  /* _grid small-only */
  /* _grid medium-only */
  /* _grid medium-and-above */
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(-15px); }
    to {
      opacity: 1;
      transform: translateY(0px); } }
  @keyframes appear-shadow-red {
    from {
      text-shadow: 0px 0px #ff262a; }
    to {
      text-shadow: 4px 4px #ff262a; } }
  @keyframes appear-shadow-white {
    from {
      text-shadow: 0px 0px #fff; }
    to {
      text-shadow: 4px 4px #fff; } }
  @keyframes appear-shadow-grey {
    from {
      text-shadow: 0px 0px #d4d4d4; }
    to {
      text-shadow: 4px 4px #d4d4d4; } }
  @keyframes settle {
    from {
      transform: translateY(0); }
    to {
      transform: translateY(20px); } }
  /* _logo default */
  /* _logo small-only */
  /* _logo medium-only */
  /* _logo medium-and-above */
  /* _logo large-and-above */ }

@media (min-width: 550px) {
  /*
 * media-query-dependants.scss
 *
 * This is the place where you would include any SCSS that is dependent on the
 * media-query mixins (such as small-only or large-and-above).
 */
  /*
 * Base
 */
  /*
 * _typography.scss
 */
  /* _typography config */
  /* _typography default */
  /* _typography small-only */
  /* _typography medium-only */
  /* _typography medium-and-above */
  /* _typography large-and-above */
  /*
 * Modules
 */
  /* _grid default */
  /* _grid small-only */
  /* _grid medium-only */
  /* _grid medium-and-above */
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(-15px); }
    to {
      opacity: 1;
      transform: translateY(0px); } }
  @keyframes appear-shadow-red {
    from {
      text-shadow: 0px 0px #ff262a; }
    to {
      text-shadow: 4px 4px #ff262a; } }
  @keyframes appear-shadow-white {
    from {
      text-shadow: 0px 0px #fff; }
    to {
      text-shadow: 4px 4px #fff; } }
  @keyframes appear-shadow-grey {
    from {
      text-shadow: 0px 0px #d4d4d4; }
    to {
      text-shadow: 4px 4px #d4d4d4; } }
  @keyframes settle {
    from {
      transform: translateY(0); }
    to {
      transform: translateY(20px); } }
  /* _logo default */
  /* _logo small-only */
  /* _logo medium-only */
  /* _logo medium-and-above */
  /* _logo large-and-above */ }

@media (min-width: 1001px) {
  /*
 * media-query-dependants.scss
 *
 * This is the place where you would include any SCSS that is dependent on the
 * media-query mixins (such as small-only or large-and-above).
 */
  /*
 * Base
 */
  /*
 * _typography.scss
 */
  /* _typography config */
  /* _typography default */
  /* _typography small-only */
  /* _typography medium-only */
  /* _typography medium-and-above */
  /* _typography large-and-above */
  /*
 * Modules
 */
  /* _grid default */
  /* _grid small-only */
  /* _grid medium-only */
  /* _grid medium-and-above */
  .grid__section--outer-container {
    display: -ms-flexbox;
    display: flex; }
  .grid__section--outer {
    width: 50%;
    padding: 20px; }
  .grid__section {
    padding: 48px 32px; }
    .grid__section--no-pad {
      padding: 0; }
    .grid__section--left {
      -ms-flex-pack: left;
          justify-content: left; }
  .grid__section--video {
    width: 800px;
    height: 100%;
    min-height: 400px; }
  li {
    text-align: left; }
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(-15px); }
    to {
      opacity: 1;
      transform: translateY(0px); } }
  @keyframes appear-shadow-red {
    from {
      text-shadow: 0px 0px #ff262a; }
    to {
      text-shadow: 4px 4px #ff262a; } }
  @keyframes appear-shadow-white {
    from {
      text-shadow: 0px 0px #fff; }
    to {
      text-shadow: 4px 4px #fff; } }
  @keyframes appear-shadow-grey {
    from {
      text-shadow: 0px 0px #d4d4d4; }
    to {
      text-shadow: 4px 4px #d4d4d4; } }
  @keyframes settle {
    from {
      transform: translateY(0); }
    to {
      transform: translateY(20px); } }
  /* _logo default */
  /* _logo small-only */
  /* _logo medium-only */
  /* _logo medium-and-above */
  /* _logo large-and-above */ }

/*# sourceMappingURL=style.css.map */
